@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "../../hero.ts";

@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@source '../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme {
  --breakpoint-mobile: 375px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;
  --breakpoint-wide: 1280px;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@layer components {
  .text-link {
    @apply font-medium text-primary hover:underline underline-offset-4;
  }

  .swiper-pagination-container {
    @apply flex justify-center;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
